@mixin before_circle{
    &:before{
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background-color: $pink-color;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left: -2px;
        
    }
   &:hover{
        content: '';
        color: $blue-color;
        transition: all 1s ease;
    }
}