.about{
    padding-top: 120px;
    &__wrapper{
        display: grid;
        grid-template-columns: 512px 595px;
        grid-template-rows: minmax(267px, auto) minmax(156px, auto);
        grid-auto-rows: minmax(267px, auto);
        column-gap: 80px;
        row-gap: 20px;
    }
    &__photo{
        grid-row: 1/3;
        img{
            width: 100%;
        }
    }
    &__descr{
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        .divider{
            margin: 0;
            margin-bottom: 10px;
        }
    }
    &__title{
        padding-left: 12px;
        position: relative;
        @include before_circle;


    }
    &__skills{
        display: grid;
        grid-template: repeat(2, minmax(40px, auto))/ repeat(2, 260px);
        grid-auto-rows: 1fr;
        column-gap: 60px;
        row-gap: 40px;
    }
}