.experience{
    padding-top: 150px;
    &__wrapper{
        display: grid;
        padding: 60px 65px 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column{
        &-title{
            padding-left: 35px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $pink-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    width: 2px;
                    height: calc(100% + 8px);
                    top: -8px;
                    left: 0;
                    background-color: $blue-color;
                }
            }
        }
    }
    &__item{
        position: relative;
        &:before{
            content: '';
            height: 2px;
            width: 43.5px;
            position: absolute;
            top: 63px;
            background-color: $blue-color;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body{
            padding: 8px 0 0 43px;
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
        }
        &-icon{
            position: absolute;
            top: 45px;
            left: 45px;
            @include before_circle;
            img{
                position: absolute;
                top: 13px;
                left: 15px;
            }
        }
        &-more{
            margin-top: 5px;
            font-size: 10px;
            font-weight: 400;
        }
    }
}